.card{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin: 15px 0;
    &-img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        &:hover{
            object-fit: scale-down;
            cursor: pointer;
        }
    }
    a{
        color: #000;
        text-decoration: none;
    }

    &-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }

}