.detail{
    padding-top: 50px;

    &-img{
        width: 100%;
    }
    &-title{
        margin-bottom: 20px;
    }
    &-text{
        margin-bottom: 10px;
    }
    &-block{
        display: flex;
        column-gap: 10px;
        margin-top: 20px;
    }
}